*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
width: 1200px;
display: flex;
color: black;
justify-content: space-around;
align-items: center;
}

.logo img{
    width: 80px;
    height: 50px;
}

.menu{
    display: flex;
    gap: 50px;
}
.menu a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover{
    border-bottom: 2px solid brown;
    color: brown;
}

.btn{
    display: flex;
    gap: 20px;
}

.btn button{
    width: 80px;
    height: 30px;
    border:none ;
    background-color:brown ;
    border-radius: 4px;
    color: white;
}

.btn button:hover{
    border: 1px solid brown;
    background-color: white;
    color: brown;
}

.footer{
    width: 1200px;
    height: 500px;
    background-color: rgb(54, 2, 2);
    border-radius: 20px;
    

}
.texts{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    font-size: 50px;

}
input{
    display: flex;
    flex-wrap: wrap;
    margin-left: 800px;
    color: black;
    gap: 50px;
    
    
}
.photo{
    display: flex;
    gap: 20px;
}
.photo img{
    width: 50px;
    height: 20px;
}
